.navbar {
    background-color:rgb(20, 19, 19);
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-link:hover {
    color: #f39c12;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-item {
        margin: 10px 0;
    }
}
